@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,400;1,500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}



section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(./undraw_building_websites_i78t.svg);
  background-size: cover;
  background-position: center;


  background: radial-gradient(circle, #cfcdcf  0%, #9880c9 122%);
  
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  border-radius: 50%;
  position: relative;
}

header .nav-bar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.4s;


}

header .nav-bar a:not(:last-child) {
  margin-right: 30px;
}

header .nav-bar a:hover {
  background: rgb(175, 208, 209);
}

.content {
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2 {
  color: #49666e;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span {
  color: #fff;
  font-size: 50px;
  font-weight: 600;

}

.content .info p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.content .info-btn {
  color: #fff;
  background: #1b435e;
  border-radius: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  transition: 0.3s;
  transition-property: all;
}

.content .info-btn:hover {
  background: #34879c;
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a {
  position: relative;
  color: #f1f7f8;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child) {
  margin-right: 60px;
}

.media-icons a:hover {
  transform: scale(1.5);
}

.zoom {
  transition: transform .3s;
}

.zoom:hover {
  transform: scale(1.3);
}

label {
  display: none;
}

#check {
  z-index: 3;
  display: none;
}

main.cards {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 22px;
}

main.cards section.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 468px;
  margin-left: 32px;
}

main.cards section.carta:first-child {
  margin-left: 0;
}

main.cards section.carta .icon {
  width: 64px;
  height: 64px;
}

main.cards section.carta img {
  width: 100%;
}


main.cards section.carta h3 {
  font-size: 100%;
  margin: 16px 0;
}

main.cards section.carta span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
}

main.cards section.carta button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: rgb(88, 45, 45);
  margin-bottom: 16px 0;
}


main.cards section.carta.colaboracion button {
  background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
main.cards section.carta.pasion button {
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards section.carta.compromiso button {
  background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}

main.cards section.carta.colaboracion {
  box-shadow: 20px 20px 50px -30px #DBC4FF;
}
main.cards section.carta.pasion {
  box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.carta.compromiso {
  box-shadow: 20px 20px 50px -30px #FFC1D5;
}

/* Responsive */

@media (max-width: 960px) {
  header .nav-bar {
    display: none;}
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover {
    color: #fff;
  }

  label .xmark {
    display: none;
  }

  #check:checked ~ header .nav-bar {
    z-index: 2;
    position: fixed;
    background: rgba(238, 184, 252, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked~header .nav-bar a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked~header label .bars {
    display: none;
  }

  #check:checked~header label .xmark {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .bars {
    position: absolute;
  }

  header .logo {
    position: absolute;
    bottom: -6px;
  }

  .content .info h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span {
    font-size: 36px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 14px;
  }


  .content .info h2 span {
    font-size: 35px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 18px;
  }



  .description-section {
    background: #4ca1af;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .description-section h2 {
    font-size: 22px;
    font-weight: 450;
    margin-bottom: 100px;
    background: #c3e1e6;
    text-align: center;
  }


  .description-section p {
    padding: 6rem;
    display: inline-flex;
    justify-content: center;
    background: #0c4f60;

  }

  
@media (max-width: 560px){
  .content .info h2{
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span{
    font-size: 30px;
    font-weight: 600;
    ;
  }

  .content .info p{
    font-size: 16px;
  }
}
      

