@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,400;1,500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}



section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(./undraw_building_websites_i78t.svg);
    background-size: 400px;


    background: linear-gradient(to right, #2c3e50, #4ca1af);

}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border-radius: 50%;
    position: relative;
}

header .nav-bar a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transform: 0.3s;
    transition-property: all;

}

header .nav-bar a:not(:last-child) {
    margin-right: 30px;
}

header .nav-bar a:hover {
    background: #fff;
}

.content {
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2 {
    color: #83d6f0;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;

}

.content .info p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn {
    color: #fff;
    background: #0696a3;
    border-radius: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    transition: 0.3s;
    transition-property: all;
}

.content .info-btn:hover {
    background: #0c4f60;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a {
    position: relative;
    color: #c3e1e6;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child) {
    margin-right: 60px;
}

.media-icons a:hover {
    transform: scale(1.5);
}

.description-section {
    background: #4ca1af; 

}

.description-section h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 8rem ;
}

.quienes {
    display: flex;
    flex-direction: row;
    justify-content: center;
 text-align: center;

}